.cart__list {
  margin-bottom: 50px;
  @media (max-width: 740px) {
    margin-bottom: 30px;
  }
}
.cart__sauces {
  margin-bottom: 50px;
  @media (max-width: 740px) {
    margin-bottom: 30px;
  }
}
.cart__recommendation {
  margin-bottom: 50px;
  @media (max-width: 740px) {
    margin-bottom: 30px;
  }
}