<section class="order-checkout">
    <div class="i-form">
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Способ оплаты:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <div class="i-radio-group">
                        <div class="i-radio">
                            <input id="r1" type="radio" name="rg2">
                            <label for="r1"><span>Наличными</span></label>
                        </div>
                        <div class="i-radio">
                            <input id="r2" type="radio" name="rg2" checked>
                            <label for="r2"><span>Картой курьеру</span></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="i-form__line i-form__line--space2">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Подписка на акции:
                <span class="i-help"></span>
                </span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <div class="i-checkbox">
                        <input id="apply" data-none="#vin" type="checkbox">
                        <label for="apply" class="profile-form__apply"><span>Даю согласие получать информацию о товарах и акциях</span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
