<section class="order-checkout">
    <div class="i-form">
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Способ оплаты:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <div class="i-radio-group">
                        <div class="i-radio">
                            <input id="r1" type="radio" checked name="rg2">
                            <label for="r1"><span>Наличными</span></label>
                        </div>
                        <div class="i-radio">
                            <input id="r2" type="radio" name="rg2">
                            <label for="r2"><span>Картой курьеру</span></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">С какой купюры сдача:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input i-input--rub">
                    <input type="text" class="i-input__control">
                </div>
            </div>
        </div>
    </div>
</section>
