<section class="order-form">
    <div class="i-form">
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Имя:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input">
                    <input type="text" class="i-input__control">
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Номер телефона:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input">
                    <input type="text" class="i-input__control" placeholder="+7 (000) 000-00-00">
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Способ получения:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <div class="i-radio-group">
                        <div class="i-radio">
                            <input id="r1" type="radio" checked name="rg">
                            <label for="r1"><span>Доставка</span></label>
                        </div>
                        <div class="i-radio">
                            <input id="r2" type="radio" name="rg">
                            <label for="r2"><span>Самовывоз</span></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Адрес доставки:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input">
                    <input type="text" class="i-input__control">
                </div>
            </div>
        </div>
    </div>
</section>
