<section class="order-form">
    <div class="i-form">
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Имя:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <span>Дюмин Вадим Юрьевич</span>
                    <div class="i-form__actions">
                        <span class="i-form__edit">Изменить</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Номер телефона:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    +7 (919) 212-07-68
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Способ получения:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <div class="i-radio-group">
                        <div class="i-radio">
                            <input id="r1" type="radio" checked name="rg">
                            <label for="r1"><span>Доставка</span></label>
                        </div>
                        <div class="i-radio">
                            <input id="r2" type="radio" name="rg">
                            <label for="r2"><span>Самовывоз</span></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Адрес доставки:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input">
                    <select  class="i-input__control">
                        <option value="1">ул. Дружининская, 7А, 152</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>
