<section class="order-order">
    <h3 class="h5 order-order__title">Ваш заказ</h3>
    <div class="order-order__table">
        <div class="order-order__row">
            <div class="order-order__col">
                <div class="order-order__name">Биткоин</div>
                <div class="order-order__size">31 см</div>
            </div>
            <div class="order-order__col">
                <div class="order-order__val">2 шт</div>
            </div>
            <div class="order-order__col">
                <div class="order-order__price">670 ₽</div>
            </div>
        </div>
        <div class="order-order__row">
            <div class="order-order__col">
                <div class="order-order__name">Пати лайк рашен</div>
                <div class="order-order__size">31 см</div>
            </div>
            <div class="order-order__col">
                <div class="order-order__val">2 шт</div>
            </div>
            <div class="order-order__col">
                <div class="order-order__price">670 ₽</div>
            </div>
        </div>
        <div class="order-order__row">
            <div class="order-order__col">
                <div class="order-order__name">Sprite</div>

            </div>
            <div class="order-order__col">
                <div class="order-order__val">1 шт</div>
            </div>
            <div class="order-order__col">
                <div class="order-order__price">70 ₽</div>
            </div>
        </div>
    </div>
</section>
