<section class="cart-list">
    <div class="cart-list__item">
        <div class="cart-list__left">
            <div class="cart-list__name">
                <div class="cart-list__name-title">Биткоин</div>
                <div class="cart-list__name-val">31 см</div>
            </div>
            <div class="cart-list__composition">
                Моцарелла, окорок копченый, помидор, ветчина, шампиньоны, соус ранч
            </div>
            <div class="cart-list__price">
                670 р. {# ₽ #}
            </div>
        </div>
        <div class="cart-list__right">
            <div class="cart-list__count">
                <div class="product-count">
                    <div class="product-count__minus"></div>
                    <div class="product-count__val">2</div>
                    <div class="product-count__plus"></div>
                </div>
            </div>
            <div class="cart-list__remove">
                <div class="cart-list__remove-title">Удалить</div>
                <div class="cart-list__remove-delete"></div>
            </div>
        </div>

    </div>
    <div class="cart-list__item">
        <div class="cart-list__left">
            <div class="cart-list__name">
                <div class="cart-list__name-title">Пати лайк рашен</div>
                <div class="cart-list__name-val">31 см</div>
            </div>
            <div class="cart-list__composition">
                Cоус гурман, соус острый, помидор, шампиньоны, моцарелла, куриный рулет, огурец, маринованный лукогурец, маринованный лук
            </div>
            <div class="cart-list__price">
                67 р. {# ₽ #}
            </div>
        </div>
        <div class="cart-list__right">
            <div class="cart-list__count">
                <div class="product-count">
                    <div class="product-count__minus"></div>
                    <div class="product-count__val">2</div>
                    <div class="product-count__plus"></div>
                </div>
            </div>
            <div class="cart-list__remove">
                <div class="cart-list__remove-title">Удалить</div>
                <div class="cart-list__remove-delete"></div>
            </div>
        </div>

    </div>
</section>