<section class="cart-recommendation">
    <div class="cart-recommendation__controls" id="recommendationControls">
        <div class="cart-recommendation__prev">
            {% include "inline/sliderPrev.svg" %}
        </div>
        <div class="cart-recommendation__next">
            {% include "inline/sliderNext.svg" %}
        </div>
    </div>
    <div class="cart-recommendation__carousel" id="recommendations">

        <div class="cart-recommendation__item">
            <div class="cart-recommendation__item-wrap">
                <div class="cart-recommendation__pic">
                    <div class="cart-recommendation__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                </div>
                <div class="cart-recommendation__body">
                    <div class="cart-recommendation__body-inner">
                        <div class="cart-recommendation__title">Картофель фри с куриным рулетом</div>
                        <div class="cart-recommendation__buy">
                            <div class="cart-recommendation__buy-tocart">
                                В корзину 110 ₽
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-recommendation__item">
            <div class="cart-recommendation__item-wrap">
                <div class="cart-recommendation__pic">
                    <div class="cart-recommendation__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                </div>
                <div class="cart-recommendation__body">
                    <div class="cart-recommendation__body-inner">
                        <div class="cart-recommendation__title">Крылья BBQ
                            c фри</div>
                        <div class="cart-recommendation__buy">
                            <div class="product-count">
                                <div class="product-count__minus"></div>
                                <div class="product-count__val">2</div>
                                <div class="product-count__plus"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-recommendation__item">
            <div class="cart-recommendation__item-wrap">
                <div class="cart-recommendation__pic">
                    <div class="cart-recommendation__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                </div>
                <div class="cart-recommendation__body">
                    <div class="cart-recommendation__body-inner">
                        <div class="cart-recommendation__title">Картофель фри с куриным рулетом</div>
                        <div class="cart-recommendation__buy">
                            <div class="cart-recommendation__buy-tocart">
                                В корзину 110 ₽
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-recommendation__item">
            <div class="cart-recommendation__item-wrap">
                <div class="cart-recommendation__pic">
                    <div class="cart-recommendation__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                </div>
                <div class="cart-recommendation__body">
                    <div class="cart-recommendation__body-inner">
                        <div class="cart-recommendation__title">Картофель фри с куриным рулетом</div>
                        <div class="cart-recommendation__buy">
                            <div class="product-count">
                                <div class="product-count__minus"></div>
                                <div class="product-count__val">2</div>
                                <div class="product-count__plus"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-recommendation__item">
            <div class="cart-recommendation__item-wrap">
                <div class="cart-recommendation__pic">
                    <div class="cart-recommendation__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                </div>
                <div class="cart-recommendation__body">
                    <div class="cart-recommendation__body-inner">
                        <div class="cart-recommendation__title">Картофель фри с куриным рулетом</div>
                        <div class="cart-recommendation__buy">
                            <div class="cart-recommendation__buy-tocart">
                                В корзину 110 ₽
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-recommendation__item">
            <div class="cart-recommendation__item-wrap">
                <div class="cart-recommendation__pic">
                    <div class="cart-recommendation__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                </div>
                <div class="cart-recommendation__body">
                    <div class="cart-recommendation__body-inner">
                        <div class="cart-recommendation__title">Картофель фри с куриным рулетом</div>
                        <div class="cart-recommendation__buy">
                            <div class="product-count">
                                <div class="product-count__minus"></div>
                                <div class="product-count__val">2</div>
                                <div class="product-count__plus"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>