<section class="cart-sauces">
    <div class="cart-sauces__scroll">
        <div class="cart-sauces__item">
            <div class="cart-sauces__pic">
                <img src="https://via.placeholder.com/366x300" alt="">
            </div>
            <div class="cart-sauces__name">
                Сырный
            </div>
            <div class="cart-sauces__foot">
                <div class="cart-sauces__buy">Бесплатно</div>
            </div>
        </div>
        <div class="cart-sauces__item">
            <div class="cart-sauces__pic">
                <img src="https://via.placeholder.com/366x300" alt="">
            </div>
            <div class="cart-sauces__name">
                Барбекю
            </div>
            <div class="cart-sauces__foot">
                <div class="cart-sauces__buy">В корзину</div>
            </div>
        </div>
        <div class="cart-sauces__item">
            <div class="cart-sauces__pic">
                <img src="https://via.placeholder.com/366x300" alt="">
            </div>
            <div class="cart-sauces__name">
                Кисло-сладкий
            </div>
            <div class="cart-sauces__foot">
                <div class="cart-sauces__buy">В корзину 25 р. {# ₽ #}</div>
            </div>
        </div>
        <div class="cart-sauces__item">
            <div class="cart-sauces__pic">
                <img src="https://via.placeholder.com/366x300" alt="">
            </div>
            <div class="cart-sauces__name">
                Карри
            </div>
            <div class="cart-sauces__foot">
                <div class="cart-sauces__buy">В корзину 25 р. {# ₽ #}</div>
            </div>
        </div>
        <div class="cart-sauces__item">
            <div class="cart-sauces__pic">
                <img src="https://via.placeholder.com/366x300" alt="">
            </div>
            <div class="cart-sauces__name">
                Карри
            </div>
            <div class="cart-sauces__foot">
                <div class="product-count">
                    <div class="product-count__minus"></div>
                    <div class="product-count__val">2</div>
                    <div class="product-count__plus"></div>
                </div>
            </div>
        </div>
    </div>

</section>