<footer class="footer">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__left">
                <div class="footer__logo">
                    {% include "inline/logo.svg" %}
                </div>
                <div class="footer__copyright">
                    <b>Люблю pizza © 2011-2018</b>
                    <a href="#">Правовая информация</a>
                </div>
                <div class="footer__plus6">
                    +6
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__contacts">
                    <b><a href="tel:+7412600500">600-500</a></b>
                    <a href="#">Контакты</a>
                </div>
                <div class="footer__social">
                    <a href="#"><img src="img/vk.svg" alt=""></a>
                    <a href="#"><img src="img/inst.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>