<header class="header">
    <div class="header__top">
        <div class="header__top-inner">
            <div class="header__left">
                <div class="logo">
                    <div class="logo__symbol">
                        {% include "inline/logo.svg" %}
                    </div>
                    <div class="logo__title">
                        {% include "inline/logo_title.svg" %}
                    </div>
                </div>

                <div class="header__feature header__feature--first">
                    <div class="header__feature-title">8 Лет</div>
                    <div class="header__feature-sub">Отличного качества</div>
                </div>
                <div class="header__feature">
                    <div class="header__feature-title"><a href="tel:+7412600500">600-500</a></div>
                    <div class="header__feature-sub">
                        <a href="#">Зона доставки Курск</a>
                    </div>
                </div>
            </div>
            <div class="header__right">
                <div class="header__buy">
                    <div class="header__cart">
                        <div class="header__cart-price">1490 ₽</div>
                        <div class="header__cart-val">4 товара</div>
                    </div>

                    <div class="header__tocart">
                        <div class="i-button"><span>Корзина</span></div>
                    </div>
                </div>

                <div class="header__profile">
                    <a href="#" class="i-button i-button--outline">Личный кабинет</a>
                </div>

                <div class="header__burger" id="burgerOpen">
                    <span></span>
                </div>
            </div>
        </div>


    </div>

    <div class="menu">
        <div class="menu-inner">
            <div class="menu__wrap">
                <div class="menu__box">
                    <div class="menu__scroll">
                        <a href="#">Пицца</a>
                        <a href="#">Комбо</a>
                        <a href="#">Сеты</a>
                        <a href="#">Роллы</a>
                        <a href="#">Wok</a>
                        <a href="#">Закуски</a>
                        <a href="#">Напитки</a>
                        <a href="#">Акции</a>
                        <a href="#">Контакты</a>
                        <a href="#">О нас</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="burger-box" id="burgerMenu">
    <div class="burger-box__header">
        <div class="logo">
            <div class="logo__symbol">
                {% include "inline/logo.svg" %}
            </div>
            <div class="logo__title">
                {% include "inline/logo_title.svg" %}
            </div>
        </div>
        <div class="burger-box__burger" id="burgerClose">
            <span></span>
        </div>
    </div>
    <div class="burger-box__menu">
        <a href="#" class="burger-box__item">Зона доставки</a>
        <a href="#" class="burger-box__item">Акции</a>
        <a href="#" class="burger-box__item">Новости</a>
        <a href="#" class="burger-box__item">О нас</a>
        <a href="#" class="burger-box__item">Корзина</a>
        <a href="#" class="burger-box__item" >Личный кабинет</a>
    </div>
    <div class="burger-box__block">
        <p>
            <b>Люблю pizza © 2011-2018</b>
            <a href="#">Правовая информация</a>
        </p>
        <p>
            <b>600-500</b>
            <a href="#">Другие контакты</a>
        </p>
    </div>
    <div class="burger-box__social">
        <a href="#"><img src="img/vk.svg" alt=""></a>
        <a href="#"><img src="img/inst.svg" alt=""></a>
    </div>
</div>