//------------------------
// Regular
//------------------------
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//------------------------
// Medium
//------------------------
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

//------------------------
// Bold
//------------------------
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

//------------------------
// ExtraBold
//------------------------
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}