*, *:before, *:after {
  box-sizing: border-box;
}

html, body {

}

body {
  font-size: 22px;
  line-height: (32 / 22);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666666;
  background: #fff;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

::selection {
  color: #fff;
  background: #bb8f41;
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: unset;
}

a {
  color: inherit;
  text-decoration: none;
}
