.i-button {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  line-height: normal;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: inherit;
  text-decoration: none;
  white-space: nowrap;
  transition: color .2s, background-color .2s;
  background-color: #ff1744;
  color: #fff;
  padding: 0 18px;
  border: 1px solid #ff1744;
  @media (max-width: 768px) {
    height: 34px;
    padding: 0 12px;
  }
}

.i-button--medium {
  height: 45px;
  font-size: 15px;
  font-weight: 500;
  padding-left: 22px;
  padding-right: 22px;
}
.i-button--full {
  width: 100%;
}
.login-popup--ok {
  margin-left: auto;
  margin-right: auto;
  width: 135px;
  display: block;
}
.i-button--outline {
  border-color: #d9d9d9;
  background: transparent;
  color: #2e2e2e;
}

.i-form {

}

.i-form__line {
  margin-bottom: 15px;
  height: 40px;
  display: flex;
  position: relative;
  @media (max-width: 740px) {
    display: block;
    height: auto;
  }
}

.i-form__line--login-btn {
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}
.i-form__line--space2 {
  margin-top: 30px;
}
.i-form__label {
  flex: 0 0 auto;
  width: 205px;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-right: 10px;
  @media (max-width: 740px) {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
  }
}

.i-form__label-title {
  position: relative;
}

.i-form__field {
  flex: 1;
  display: flex;
  align-items: center;
}

.i-input {
  flex-grow: 1;
  max-width: 290px;
  position: relative;
  display: flex;
}
.i-input--login {
  max-width: 100%;
}
.i-input--button {
  max-width: 400px;
  @media (max-width: 740px) {
    max-width: 100%;
  }
}
.i-input--rub {
  max-width: 100px;
  &:after {
    content: '₽';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B2B2B2;
  }
}
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

.i-input__control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include placeholder {
    color: #B2B2B2;
    font-weight: 500;
  }
  display: block;
  height: 40px;
  background: #FFFFFF;
  color: #2e2e2e;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  font-family: inherit;
  font-weight: 500;
  outline: none;
  padding: 0 12px;
  flex: 1 1 auto;
  width: 0;
  min-width: 50px;
  font-size: 15px;
  &::-ms-clear {
    display: none;
  }
  &::-ms-expand {
    display: none;
  }

  .i-input--button & {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .i-input--rub & {
    padding-right: 35px;
  }
}
select.i-input__control {
  &::-ms-value {
    background: transparent;
    color: #2e2e2e;
  }
  background-image: url("../img/select.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
}
.i-input__btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 0;
  padding: 0;
  height: 40px;

  background: #FF1744;
  border-radius: 0px 3px 3px 0px;

  color: #fff;
  outline: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  cursor: pointer;
  flex-shrink: 0;
  @media (max-width: 740px) {
    width: 112px;
  }
}
.i-input__btn--login {
  width: 150px;
  @media (max-width: 740px) {
    width: 130px;
  }
}
.i-form__static {
  font-weight: 500;
}

.i-form__actions {
  display: inline;
  @media (max-width: 740px) {
    display: block;
    .i-form__edit {
      margin-left: 0;
    }
  }
}
.i-form__edit, .i-form__add {
  color: #FF1744;
  border-bottom: 1px dotted #ff1744;
  margin-left: 10px;
  cursor: pointer;
  &:hover {
    //border-color: transparent;
  }
}
.i-form__add {
  color: #B2B2B2;
  border-color: #B2B2B2;
}
.i-checkbox {

}

.i-checkbox input[type=checkbox], .i-radio input[type=radio] {
  display: none;
  position: absolute;
}

.i-checkbox label, .i-radio label {
  position: relative;
  padding-left: 38px;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}

.i-checkbox label:before, .i-radio label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
}
.i-radio label:before {
  border-radius: 50%;
}
.i-checkbox input[type=checkbox]:checked + label:before,
.i-radio input[type=radio]:checked + label:before{
  //border-color: #01AC6A;
}
.i-checkbox input[type=checkbox] + label:after,
.i-radio input[type=radio] + label:after{
  content: "";
  opacity: 0;
  transition: opacity .2s;
  width: 18px;
  height: 13px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.7856 0.13086C15.9706 -0.0436201 16.2705 -0.0436201 16.4555 0.13086L17.8613 1.4568C18.0462 1.63128 18.0462 1.91417 17.8613 2.08865L7.09652 12.2419L6.39364 12.8761C6.2105 13.0413 5.92193 13.0413 5.73879 12.8761L5.02838 12.235L0.138739 7.62302C-0.0462463 7.44854 -0.0462463 7.16565 0.138739 6.99117L1.54451 5.66523C1.7295 5.49075 2.02942 5.49075 2.2144 5.66523L6.06621 9.29831L15.7856 0.13086Z' fill='%23FF1744'/%3e%3c/svg%3e ") no-repeat;
  position: absolute;
  left: 6px;
  top: 5px;
}
.i-radio input[type=radio] + label:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FF1744;
  left: 9px;
  top: 7px;
}
.i-checkbox input[type=checkbox]:checked + label:after,
.i-radio input[type=radio]:checked + label:after {
  opacity: 1;
}
.i-radio-group {
  display: flex;
  .i-radio {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
      width: 140px;
      //Это дичь :))))
    }
  }
  @media (max-width: 740px) {
    display: block;
    .i-radio {
      width: auto;
      margin-left: 0;
      margin-top: 8px;

    }
  }
}
.i-help {
  opacity: .5;
  cursor: pointer;
  z-index: 3;
  width: 17px;
  height: 17px;
  background: url(../img/question.svg) no-repeat;
  position: absolute;
  right: -27px;
  top: 0;
  transition: .2s;
  &:hover {
    opacity: 1;
  }
  @media (max-width: 740px) {
    display: none;
  }
}
.i-help__tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 20px;
  width: 350px;
  box-shadow: 0px 17px 37px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  font-size: 14px;
  background: #fff;
  margin-left: 25px;
  top: 50%;
  font-weight: normal;
  transition: .2s;
  transform: translateY(-50%);
  pointer-events: none;
  .i-help:hover & {
    opacity: 1;
    visibility: visible;
  }
  @media (max-width: 1200px) {
    bottom: 100%;
    top: auto;
    margin-left: 0;
    margin-bottom: 15px;
    left: 50%;
    transform: translateY(0) translateX(-50%);
  }
}
.i-help--inform {
  top: 10px;
}