<section class="profile-form">
    <div class="i-form">
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">ФИО:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input i-input--button">
                    <input type="text" class="i-input__control">
                    <button class="i-input__btn">
                        <span>Сохранить</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Номер телефона:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    +7 (919) 212-07-68
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">День рождения:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input i-input--button">
                    <select class="i-input__control profile-form__day">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <select class="i-input__control profile-form__month">
                        <option value="">Январь</option>
                        <option value="">Февраль</option>
                        <option value="">Март</option>
                        <option value="">Апрель</option>
                        <option value="">Май</option>
                        <option value="">Июнь</option>
                        <option value="">Июль</option>
                        <option value="">Август</option>
                        <option value="">Сентябрь</option>
                        <option value="">Октябрь</option>
                        <option value="">Ноябрь</option>
                        <option value="">Декабрь</option>
                    </select>
                    <button class="i-input__btn">
                        <span>Сохранить</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Электронная почта:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input i-input--button">
                    <input type="text" class="i-input__control">
                    <button class="i-input__btn">
                        <span>Сохранить</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Адрес доставки:</span>
            </label>
            <div class="i-form__field">
                <div class="i-input i-input--button">
                    <input type="text" class="i-input__control">
                    <button class="i-input__btn">
                        <span>Сохранить</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Подписка на акции:
                <span class="i-help"></span>
                </span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <div class="i-checkbox">
                        <input id="apply" type="checkbox">
                        <label for="apply" class="profile-form__apply"><span>Даю согласие получать информацию о товарах и акциях</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="i-form__line profile-form__exit">
            <div class="i-form__label"></div>
            <div class="i-form__field">
                <a href="#" class="i-button i-button--medium i-button--outline">Выйти из личного кабинета</a>
            </div>
        </div>
    </div>
</section>
