<section class="profile-form">
    <div class="i-form">
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Имя:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <span>Дюмин Вадим Юрьевич</span>
                    <div class="i-form__actions">
                        <span class="i-form__edit">Изменить</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Номер телефона:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    +7 (919) 212-07-68
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">День рождения:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    16 марта
                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Электронная почта:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <span>Dyumin.vadim@gmail.com </span>
                    <div class="i-form__actions">
                        <span class="i-form__edit">Изменить</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="i-form__line">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Адрес доставки:</span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <span>ул. Дружининская, д. 7а, кв. 257</span>
                    <div class="i-form__actions">
                        <span class="i-form__edit">Изменить</span>
                        <span class="i-form__add">Добавить новый</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="i-form__line i-form__line--space2">
            <label for="" class="i-form__label">
                <span class="i-form__label-title">Подписка на акции:
                <span class="i-help">
                            <div class="i-help__tooltip">
                                На этот номер будет отправлено сообщение с кодом для ввода в нижнее поле
                            </div>
                        </span>
                </span>
            </label>
            <div class="i-form__field">
                <div class="i-form__static">
                    <div class="i-checkbox">
                        <input id="apply" type="checkbox" checked>
                        <label for="apply" class="profile-form__apply"><span>Даю согласие получать информацию о товарах и акциях</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="i-form__line profile-form__exit">
            <div class="i-form__label"></div>
            <div class="i-form__field">
                <a href="#" class="i-button i-button--medium i-button--outline">Выйти из личного кабинета</a>
            </div>
        </div>
    </div>
</section>
