<section class="profile-history">
    <div class="history">
        <div class="history__head">
            <div class="history__col history__col--date">Дата заказа</div>
            <div class="history__col history__col--num">Номер</div>
            <div class="history__col history__col--structure">Состав</div>
            <div class="history__col history__col--price">Стоимость</div>
        </div>

        <div class="history__row">
            <div class="history__col history__col--date" data-title="Дата заказа">1 Сентября 2018</div>
            <div class="history__col history__col--num" data-title="Номер">#1489</div>
            <div class="history__col history__col--structure" data-title="Состав">
                <nobr>Нажористая (31 см)</nobr>,
                <nobr>Биткоин (31 см)</nobr>,
                <nobr>Картофиль фри</nobr>,
                <nobr>Сок апельсиновый (2л.)</nobr></div>
            <div class="history__col history__col--price" data-title="Стоимость">1500 р. {# ₽ #}</div>
        </div>
        <div class="history__row">
            <div class="history__col history__col--date" data-title="Дата заказа">1 Сентября 2018</div>
            <div class="history__col history__col--num" data-title="Номер">#1489</div>
            <div class="history__col history__col--structure" data-title="Состав">
                <nobr>Нажористая (31 см)</nobr>,
                <nobr>Биткоин (31 см)</nobr>,
                <nobr>Картофиль фри</nobr>,
                <nobr>Сок апельсиновый (2л.)</nobr></div>
            <div class="history__col history__col--price" data-title="Стоимость">1500 р. {# ₽ #}</div>
        </div>
        <div class="history__row">
            <div class="history__col history__col--date" data-title="Дата заказа">1 Сентября 2018</div>
            <div class="history__col history__col--num" data-title="Номер">#1489</div>
            <div class="history__col history__col--structure" data-title="Состав">
                <nobr>Нажористая (31 см)</nobr>,
                <nobr>Биткоин (31 см)</nobr>,
                <nobr>Картофиль фри</nobr>,
                <nobr>Сок апельсиновый (2л.)</nobr></div>
            <div class="history__col history__col--price" data-title="Стоимость">1500 р. {# ₽ #}</div>
        </div>
    </div>
</section>
