<section class="combo">
    <div class="combo__inner">
        <h2 class="combo__title">Комбо-наборы</h2>

        <div class="combo__row">
            <div class="combo__item">
                <div class="combo-box">
                    <div class="combo-box__content" style="background-image: url(img/media/combo.jpg)">
                        <div class="combo-box__content-inner">
                            <div class="combo-box__logo">
                                <div class="logo">
                                    <div class="logo__symbol">
                                        {% include "inline/logo.svg" %}
                                    </div>
                                    <div class="logo__title">
                                        {% include "inline/logo_title.svg" %}
                                    </div>
                                </div>
                            </div>

                            <div class="combo-box__text">
                                <div class="combo-box__text-inner">
                                    <h4 class="combo-box__title">Чёпоесть</h4>
                                    <p>
                                        X2 Нажористая 31см <br>
                                        X2 Куриные наггетсы <br>
                                        X2 Картофель Фри <br>
                                    </p>
                                </div>

                            </div>
                            <div class="combo-box__buy">
                                <div class="product-price">
                                    <div class="product-price__val">280 ₽</div>
                                    <div class="product__tocart">
                                        <div class="product-price__buy">В корзину</div>
                                        <div class="product-count" style="display: none">
                                            <div class="product-count__minus"></div>
                                            <div class="product-count__val">2</div>
                                            <div class="product-count__plus"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="combo__item">
                <div class="combo-box">
                    <div class="combo-box__content" style="background-image: url(img/media/combo.jpg)">
                        <div class="combo-box__content-inner">
                            <div class="combo-box__logo">
                                <div class="logo">
                                    <div class="logo__symbol">
                                        {% include "inline/logo.svg" %}
                                    </div>
                                    <div class="logo__title">
                                        {% include "inline/logo_title.svg" %}
                                    </div>
                                </div>
                            </div>

                            <div class="combo-box__text">
                                <div class="combo-box__text-inner">
                                    <h4 class="combo-box__title">Чёпоесть</h4>
                                    <p>
                                        X2 Нажористая 31см <br>
                                        X2 Куриные наггетсы <br>
                                        X2 Картофель Фри <br>
                                    </p>
                                </div>

                            </div>
                            <div class="combo-box__buy">
                                <div class="product-price">
                                    <div class="product-price__val">280 ₽</div>
                                    <div class="product__tocart">
                                        <div class="product-price__buy">В корзину</div>
                                        <div class="product-count" style="display: none">
                                            <div class="product-count__minus"></div>
                                            <div class="product-count__val">2</div>
                                            <div class="product-count__plus"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>