<section class="delivery">
    <div class="delivery__inner">
        <h2>Доставка и оплата</h2>
        <div class="delivery__row">
            <div class="delivery__col">
                <div class="delivery__col-title">60 минут</div>
                <div class="delivery__col-text">
                    Мы стремимся к тому, чтобы вы получили свой заказ не позднее 1 часа с момента звонка. А лучше – раньше)
                </div>
            </div>
            <div class="delivery__col">
                <div class="delivery__col-title">410 р. {# ₽ #}</div>
                <div class="delivery__col-text">
                    Минимальная сумма доставки Все цены в меню указаны без учета скидок при самовывозе Изображения продуктов могут отличаться от продуктов в заказе
                </div>
            </div>
        </div>
    </div>
</section>