<section class="slider">
    <div class="slider__controls" id="sliderControls">
        <div class="slider__prev">
            {% include "inline/sliderPrev.svg" %}
        </div>
        <div class="slider__next">
            {% include "inline/sliderNext.svg" %}
        </div>
    </div>

    <div class="slider__box" id="slider">
        <div class="slider__item">
            <a href="#" class="slider__item-aspect">
                <div class="slider__item-img">
                    <img src="https://via.placeholder.com/1920x460" alt="" class="slider__item-desktop">
                </div>
            </a>

        </div>
        <div class="slider__item">
            <a href="#" class="slider__item-aspect">
                <div class="slider__item-img">
                    <img src="https://via.placeholder.com/1920x460" alt="" class="slider__item-desktop">
                </div>
            </a>

        </div>
        <div class="slider__item">
            <a href="#" class="slider__item-aspect">
                <div class="slider__item-img">
                    <img src="https://via.placeholder.com/1920x460" alt="" class="slider__item-desktop">
                </div>
            </a>

        </div>
    </div>

</section>