<section class="products products--white">
    <div class="products__inner">
        <h2 class="products__title">WOK</h2>

        <div class="products__box">
            <div class="product">
                <div class="product__inner">
                    <div class="product__pic" data-popup="#popup1">
                        <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                    </div>
                    <div class="product__body">
                        <div class="product__question js-productMore"></div>
                        <div class="product__more js-productMoreBox">
                            <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                            <div class="product__more-details">
                                Энергетическая ценность 238 ккал<br>
                                Белки 10,9 г<br>
                                Жиры 11,5 г<br>
                                Углеводы 45,6 г
                            </div>
                            <div class="product__more-weight">
                                Вес: 460±50г
                            </div>
                        </div>
                        <div class="product__description">
                            <h3 class="h5 product__title">Мама Африка 🌶️</h3>
                            <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла, куриный рулет, огурец, маринованный лук</p>
                        </div>
                        <div class="product__bottom">


                            <div class="product-price">
                                <div class="product-price__val">280 ₽</div>
                                <div class="product-price__tocart">
                                    <div class="product-price__buy" >В корзину</div>
                                    <div class="product-count" style="display: none">
                                        <div class="product-count__minus"></div>
                                        <div class="product-count__val">2</div>
                                        <div class="product-count__plus"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__inner">
                    <div class="product__pic" data-popup="#popup1">
                        <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                    </div>
                    <div class="product__body">
                        <div class="product__question js-productMore"></div>
                        <div class="product__more js-productMoreBox">
                            <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                            <div class="product__more-details">
                                Энергетическая ценность 238 ккал<br>
                                Белки 10,9 г<br>
                                Жиры 11,5 г<br>
                                Углеводы 45,6 г
                            </div>
                            <div class="product__more-weight">
                                Вес: 460±50г
                            </div>
                        </div>
                        <div class="product__description">
                            <h3 class="h5 product__title">Мама Африка 🌶️</h3>
                            <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла, куриный рулет, огурец, маринованный лук</p>
                        </div>
                        <div class="product__bottom">


                            <div class="product-price">
                                <div class="product-price__val">280 ₽</div>
                                <div class="product-price__tocart">
                                    <div class="product-price__buy" style="display: none">В корзину</div>
                                    <div class="product-count">
                                        <div class="product-count__minus"></div>
                                        <div class="product-count__val">2</div>
                                        <div class="product-count__plus"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__inner">
                    <div class="product__pic" data-popup="#popup1">
                        <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                    </div>
                    <div class="product__body">
                        <div class="product__question js-productMore"></div>
                        <div class="product__more js-productMoreBox">
                            <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                            <div class="product__more-details">
                                Энергетическая ценность 238 ккал<br>
                                Белки 10,9 г<br>
                                Жиры 11,5 г<br>
                                Углеводы 45,6 г
                            </div>
                            <div class="product__more-weight">
                                Вес: 460±50г
                            </div>
                        </div>
                        <div class="product__description">
                            <h3 class="h5 product__title">Мама Африка️</h3>
                            <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла</p>
                        </div>
                        <div class="product__bottom">


                            <div class="product-price">
                                <div class="product-price__val">280 ₽</div>
                                <div class="product-price__tocart">
                                    <div class="product-price__buy" style="display: none">В корзину</div>
                                    <div class="product-count">
                                        <div class="product-count__minus"></div>
                                        <div class="product-count__val">2</div>
                                        <div class="product-count__plus"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__inner">
                    <div class="product__pic" data-popup="#popup1">
                        <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                    </div>
                    <div class="product__body">
                        <div class="product__question js-productMore"></div>
                        <div class="product__more js-productMoreBox">
                            <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                            <div class="product__more-details">
                                Энергетическая ценность 238 ккал<br>
                                Белки 10,9 г<br>
                                Жиры 11,5 г<br>
                                Углеводы 45,6 г
                            </div>
                            <div class="product__more-weight">
                                Вес: 460±50г
                            </div>
                        </div>
                        <div class="product__description">
                            <h3 class="h5 product__title">Мама Африка️</h3>
                            <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла</p>
                        </div>
                        <div class="product__bottom">


                            <div class="product-price">
                                <div class="product-price__val">280 ₽</div>
                                <div class="product-price__tocart">
                                    <div class="product-price__buy" style="display: none">В корзину</div>
                                    <div class="product-count">
                                        <div class="product-count__minus"></div>
                                        <div class="product-count__val">2</div>
                                        <div class="product-count__plus"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__inner">
                    <div class="product__pic" data-popup="#popup1">
                        <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                    </div>
                    <div class="product__body">
                        <div class="product__question js-productMore"></div>
                        <div class="product__more js-productMoreBox">
                            <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                            <div class="product__more-details">
                                Энергетическая ценность 238 ккал<br>
                                Белки 10,9 г<br>
                                Жиры 11,5 г<br>
                                Углеводы 45,6 г
                            </div>
                            <div class="product__more-weight">
                                Вес: 460±50г
                            </div>
                        </div>
                        <div class="product__description">
                            <h3 class="h5 product__title">Мама Африка 🌶️</h3>
                            <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла, куриный рулет, огурец, маринованный лук</p>
                        </div>
                        <div class="product__bottom">


                            <div class="product-price">
                                <div class="product-price__val">280 ₽</div>
                                <div class="product-price__tocart">
                                    <div class="product-price__buy" style="display: none">В корзину</div>
                                    <div class="product-count">
                                        <div class="product-count__minus"></div>
                                        <div class="product-count__val">2</div>
                                        <div class="product-count__plus"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product__inner">
                    <div class="product__pic" data-popup="#popup1">
                        <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                    </div>
                    <div class="product__body">
                        <div class="product__question js-productMore"></div>
                        <div class="product__more js-productMoreBox">
                            <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                            <div class="product__more-details">
                                Энергетическая ценность 238 ккал<br>
                                Белки 10,9 г<br>
                                Жиры 11,5 г<br>
                                Углеводы 45,6 г
                            </div>
                            <div class="product__more-weight">
                                Вес: 460±50г
                            </div>
                        </div>
                        <div class="product__description">
                            <h3 class="h5 product__title">Мама Африка️</h3>
                            <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла</p>
                        </div>
                        <div class="product__bottom">
                            <div class="product-price">
                                <div class="product-price__val">280 ₽</div>
                                <div class="product-price__tocart">
                                    <div class="product-price__buy" style="display: none">В корзину</div>
                                    <div class="product-count">
                                        <div class="product-count__minus"></div>
                                        <div class="product-count__val">2</div>
                                        <div class="product-count__plus"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>