<a href="#" class="zone">
<div class="zone__inner">
    <div class="zone__logo">
        {% include "inline/logo.svg" %}
    </div>
    <div class="zone__title">Зона доставки</div>
    <div class="zone__notice">Зона доставки ограничена</div>
</div>
</a>