{% set title = "Люблю пицца" %}
{% include 'template/res.head.njk' %}

<body>

<div class="root">
    {% include 'header.njk' %}
    <div class="inner-wrap">
        <div class="inner cart">
            <div class="inner__content">
                <h1 class="h2">Корзина</h1>
                <div class="cart__list">
                    {% include 'page.cart/list.njk' %}
                </div>
                <div class="cart__sauces">
                    <h2 class="h4">Соусы</h2>
                    {% include 'page.cart/sauces.njk' %}
                </div>
                <div class="cart__recommendation">
                    <h2 class="h4">Рекомендуем попробовать</h2>
                    {% include 'page.cart/recommendation.njk' %}
                </div>


                <div class="price-finish">
                    <div class="price-finish__val">
                        <div class="price-finish__val-title">Сумма заказа:</div>
                        <div class="price-finish__val-price">1490 ₽</div>
                    </div>
                    <div class="price-finish__buttons">
                        <div class="price-finish__back">
                            <a href="#" class="price-finish__back-btn">
                                <span>← Вернуться в меню</span>
                                <span>Отказаться</span>
                            </a>
                        </div>
                        <div class="price-finish__submit">
                            <a href="#" class="i-button i-button--medium">Заказать</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% include 'footer.njk' %}
{% include 'page.index/popups.njk' %}
{% include 'template/res.scripts.njk' %}
</body>
</html>