{% set title = "Люблю пицца" %}
{% include 'template/res.head.njk' %}

<body>

<div class="root">
    {% include 'header.njk' %}
    <div class="inner-wrap">
        <div class="inner sale">
            <div class="inner__content">
                <h1 class="h2">199 ₽!</h1>
                <div class="sale__row">
                    <div class="sale__pic">
                        <div class="sale__img" style="background-image: url(https://via.placeholder.com/435x330)"></div>
                    </div>
                    <div class="sale__content">
                        <div class="sale__content-top">
                            <p class="sale__text">
                                Мы так рады, когда ты приходишь к нам в гости, что готовы отдать тебе любую из трех пицц — Телеграмм, Биткоин или Пати Лайк Рашен — диаметром 31 см по рекордной цене 199 ₽ при самовывозе! Приходи и забирай!
                            </p>
                            <div class="sale__notice">
                                Акция действует при самовывозе.<br>
                                Подробности у оператора.<br>
                                Акции не суммируются.
                            </div>
                        </div>
                        <div class="sale__content-bottom">
                            <div class="sale__addresses">
                                <div class="sale__address">
                                    ул. Хуторская, 12В
                                </div>
                                <div class="sale__address">
                                    ул. 50 лет Октября, 155В
                                </div>
                                <div class="sale__address">
                                    ул. Краснознаменная, 22
                                </div>
                                <div class="sale__address">
                                    ул. Энергетиков, 4
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="h4 sale__subtitle">Товары по акции</h2>
                <div class="sale__product">
                    <div class="product">
                        <div class="product__inner">
                            <div class="product__pic" data-popup="#popup1">
                                <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                            </div>
                            <div class="product__body">
                                <div class="product__question js-productMore"></div>
                                <div class="product__more js-productMoreBox">
                                    <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                                    <div class="product__more-details">
                                        Энергетическая ценность 238 ккал<br>
                                        Белки 10,9 г<br>
                                        Жиры 11,5 г<br>
                                        Углеводы 45,6 г
                                    </div>
                                    <div class="product__more-weight">
                                        Вес: 460±50г
                                    </div>
                                </div>
                                <div class="product__description">
                                    <h3 class="h5 product__title">Мама Африка 🌶️</h3>
                                    <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла, куриный рулет, огурец, маринованный лук</p>
                                </div>
                                <div class="product__bottom">
                                    <div class="tabs">
                                        <div class="tabs__inner">
                                            <div class="tabs__item is-active js-tabItem ">31 см</div>
                                        </div>
                                        <div class="tabs__lava js-tabLava" style="left: -1px; width: 215px;"></div>
                                    </div>

                                    <div class="product-price">
                                        <div class="product-price__val">280 ₽</div>
                                        <div class="product-price__tocart">
                                            <div class="product-price__buy" style="display: none">В корзину</div>
                                            <div class="product-count">
                                                <div class="product-count__minus"></div>
                                                <div class="product-count__val">2</div>
                                                <div class="product-count__plus"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__inner">
                            <div class="product__pic" data-popup="#popup1">
                                <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                            </div>
                            <div class="product__body">
                                <div class="product__question js-productMore"></div>
                                <div class="product__more js-productMoreBox">
                                    <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                                    <div class="product__more-details">
                                        Энергетическая ценность 238 ккал<br>
                                        Белки 10,9 г<br>
                                        Жиры 11,5 г<br>
                                        Углеводы 45,6 г
                                    </div>
                                    <div class="product__more-weight">
                                        Вес: 460±50г
                                    </div>
                                </div>
                                <div class="product__description">
                                    <h3 class="h5 product__title">Мама Африка 🌶️</h3>
                                    <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла, куриный рулет, огурец, маринованный лук</p>
                                </div>
                                <div class="product__bottom">
                                    <div class="tabs">
                                        <div class="tabs__inner">
                                            <div class="tabs__item is-active js-tabItem ">31 см</div>
                                        </div>
                                        <div class="tabs__lava js-tabLava" style="left: -1px; width: 215px;"></div>
                                    </div>

                                    <div class="product-price">
                                        <div class="product-price__val">280 ₽</div>
                                        <div class="product-price__tocart">
                                            <div class="product-price__buy">В корзину</div>
                                            <div class="product-count"  style="display: none">
                                                <div class="product-count__minus"></div>
                                                <div class="product-count__val">2</div>
                                                <div class="product-count__plus"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product__inner">
                            <div class="product__pic" data-popup="#popup1">
                                <div class="product__img" style="background-image: url(https://via.placeholder.com/580x460)"></div>
                            </div>
                            <div class="product__body">
                                <div class="product__question js-productMore"></div>
                                <div class="product__more js-productMoreBox">
                                    <h3 class="h5 product__title">Пищевая ценность на 100 г:</h3>
                                    <div class="product__more-details">
                                        Энергетическая ценность 238 ккал<br>
                                        Белки 10,9 г<br>
                                        Жиры 11,5 г<br>
                                        Углеводы 45,6 г
                                    </div>
                                    <div class="product__more-weight">
                                        Вес: 460±50г
                                    </div>
                                </div>
                                <div class="product__description">
                                    <h3 class="h5 product__title">Мама Африка 🌶️</h3>
                                    <p class="product__content">Cоус гурман, соус острый, помидор, шампиньоны, моцарелла, куриный рулет, огурец, маринованный лук</p>
                                </div>
                                <div class="product__bottom">
                                    <div class="tabs">
                                        <div class="tabs__inner">
                                            <div class="tabs__item is-active js-tabItem ">31 см</div>
                                        </div>
                                        <div class="tabs__lava js-tabLava" style="left: -1px; width: 215px;"></div>
                                    </div>

                                    <div class="product-price">
                                        <div class="product-price__val">280 ₽</div>
                                        <div class="product-price__tocart">
                                            <div class="product-price__buy" style="display: none">В корзину</div>
                                            <div class="product-count">
                                                <div class="product-count__minus"></div>
                                                <div class="product-count__val">2</div>
                                                <div class="product-count__plus"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.njk' %}
{% include 'page.index/popups.njk' %}
{% include 'template/res.scripts.njk' %}
</body>
</html>